
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: poppins, sans-serif;
}

body,
html {
    scroll-behavior: smooth;
    background:rgb(0,0,0);

    /* background:rgb(157,131,120); */

}


/* header section */
header {
    position: fixed;
   
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 6px; */
   color: rgb(226, 47, 28);
    /* display: flex; */
    justify-content: space-around;
    /* background: rgb(4, 17, 45); */
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;

}
.navs
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    justify-content: center;
    align-items: center;
    
}
.navs a{
    margin: 6px;
    padding: 6px;
    text-decoration: none;
    color:white;
}



  .navs  a:hover {
    background-color: rgb(226, 46, 27);
   
    
    border-radius: 8%;
} 

/* banner */
.banner-1 {
    background: #000;
    /* background:rgb(157,131,120); */
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* text side */
.banner-1-text {
    width:60%;
  
    color: black;
    /* border:2px solid red; */
  
}


/* image side */
.banner-1-img {
    width: 40%;
    display: flex;
    justify-content: center;
   
   
}

/* main image */
.banner-1-img{
    margin-top: 50px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    animation: spin 2s 1 ;
    -webkit-animation: spin 2s 1 ;
    /* border :2px solid rebeccapurple; */
}
/* .banner-1-img::before{
    border: 2px red;
    content: "";
    position: absolute;
    height:calc(101%+1px);
    width:calc(101%+1px);
    top: 50%;
    left: 50%;
    translate:(-50% -50%);
    background:linear-gradient(var(),transparent 15%,#00eaff,#00eaff,transparent 85%);
    animation: spi 5 linear infinite ;
    -webkit-animation: spi 5 linear infinite ;
    z-index: -1; */
/* } */
/* @property --rotation{
    syntax:'<angle>';
    inherits: true;
    initial-value: 0deg;
} */
/* @keyframes spain{
    0%{
        --rotation:0deg;
    }to{
        --rotation:360deg;
    }
} */
span {
    color: red;
}
@keyframes spin{
    0%{

    }
    50%{
        scale:1;
        transform: rotate(0deg);
        border-radius: 0px ;
    }
    100%{
        transform:translate3d(225deg);
        border-radius: 10px;
        -webkit-transform:translate3d(225deg);
        -moz-transform:translate3d(225deg);
        -ms-transform:translate3d(225deg);
        -o-transform:translate3d(225deg);
}
}

.banner-1-text {

    margin: auto;

}

.banner-1-text h1 {
    font-size: 48px;
    color: rgb(226,226,226);
    padding: 10px;
}

.banner-1-text h3 {
    font-size: 24px;
    color:white;

    padding: 10px;
}

.banner-1-text p {
    width: 800px;
    color:white;
}

.btn-project {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: rgb(195, 85, 65); */
    color: rgb(226, 47, 28);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    border:2px solid rgb(226, 47, 28);
    margin-left: 100px;
}

.btn-project:hover {
    background-color: rgb(226, 47, 28);
    color:white;
}



/* about me section */
/* about me section */
.about-me {
    background:rgb(0,0,0);
    color:rgb(226, 47, 28);

    padding-top: 120px;  
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading */
.about-me h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

/* Paragraph */
.about-me-par {
    max-width: 1300px;
    text-align: center;
    margin-bottom: 60px;
    padding: 0 20px;
    line-height: 1.7;
}

/* Info cards container */
.info-item {
    display: flex;
    gap: 80px;
}

/* Cards */
.ab-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Icons */
.ab-card img {
    width: 45px;
    margin-top: 30px;
    margin-bottom: 10px;
    transform: translateY(5px);
    translate: transform 0.3s ease;
}
.ab-card img:hover {
    transform: translateY(-5px);
}



/* -------projects------ */
.projects {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    background: rgb(0,0,0);
    height: 100vh;
    /* color: red; */
    color:black;


}

.cal {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-top: 300px;

    border: 2px 0 0 rgb(195, 85, 65);
    border-radius: 30px;
    background: white;
    padding-top: 7px;
    /* transform: translateY(90px); */
    transition: transform 0.9s ease;


}
.cal:hover {
    transform: translateY(-10px);
}
.cal-para {
    /* display: none; */
    text-align: center;
    padding: 10px;
    border: 2px 0 0 rgb(195, 85, 65);
    background-color:rgb(226, 46, 27);
    height: 250px;
    /* width: 250px; */
    border-radius: 30px;
    padding-top: 100px;
    transform: translateY(0);
    transition: transform 0.3s ease;
}
.cal-para:hover {
    transform: translateY(20px); 
}
.btn-vistproject {
    display: inline-block;
    padding: 10px 20px;
    background-color:black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 5px;
}

.btn-vistproject:hover {
    background-color: rgb(10, 72, 133);
}


/* Skills */
.skills {
    background:black;
    color: rgb(226, 47, 28);
    /* color:white; */

    display:flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 200px; */
    height: 100vh;
}
.skills h1 {
    padding-bottom: 20px;
}

.score {
    padding-top: 60px;
    margin-top: 10px;

    h4 {
        padding-bottom: 50px;
    }

}

.technicalskills h4 {
    padding-bottom: 10px;
}

.framework h4 {
    padding-bottom: 10px;

}

.skills img {
    width: 50px;
    height: auto;
    margin: 10px 10px;
}

/* contact me section */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(0,0,0);

    height: 100vh;
}

.contact h2 {
    margin-top: 100px;
    color:rgb(226, 47, 28);
  

    font-size: 2.5rem;
    padding: 15px 10px;
}

#name {
    margin: 20px 20px;
    width: 500px;
    height: 40px;
    border-radius: 10px;


}

#email {
    margin: 20px 20px;
    width: 500px;
    height: 40px;
    border-radius: 10px;

}


#subject {
    width: 1050px;
    height: 60px;
    border-radius: 10px;
    padding-bottom: 30px;
    align-items: center;
}

#Message {
    width: 1050px;
    height: 150px;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 30px;

}

.btn-send {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(195, 85, 65);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}


.btn-send:hover {
    background-color: rgb(24, 26, 27);
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 50px; */
    width: 100%;


}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-icons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
}

.contact-item img {
    width: 50px;
    /* height: auto; */
    /* margin: 0px 10px; */

}




/*footer page*/

footer {
    background: rgb(4,17,45);
    color:white;
    text-align: center;
    align-items: center;
    height: 70px;
    p{
        padding-top: 20px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgb(236, 223, 206);
        width: 100vw;
        height: 100vh; /* important line */
    }

    .container img {
       margin-left: 250px;
        text-align: center;
        align-items: center;
      
    }

    .about-me-par {     
        padding: 0 10px;
    }

    .info-item {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .cal {
        margin-top: 50px;
    }
}
    

/* -----about me section-- */
@media screen and (max-width: 768px) {
  #heading {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    margin-left: 350px;
    width: 200px;
     /* border:2px solid green; */
  }
  .about-me-par {
  margin-left: 400px;
  width: 700px;
  }
  .info-item{
    margin-left:320px;
  }
}

/* projects*/

@media  screen and (max-width:768px) {
    .projects{
        /* border:2px solid navy; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .cal{
        /* border:2px solid green; */
        margin-left: 280px;
    }
}
@media screen and (max-width:768px) {
    .skills{
        /* border: 2px solid rgb(6, 9, 2); */
       
       
    }
   .technicalskills{
        /* border: 2px solid rgb(96, 157, 15); */
        margin-left: 100px;
      
        }

        
    }
    .score{
        /* border: 2px solid rgb(96, 157, 15); */
        margin-left: 100px;

    }
    .framework{
         /* border: 2px solid rgb(96, 157, 15); */
        margin-left: 100px;
        margin-top: 20px;
        padding-top: 6px;

    }
/* contact page */


@media screen and (width:768px) {
   .contact{
    border:2px solid red;
   }
    
}




