@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: poppins, sans-serif;
}

body,
html {
    scroll-behavior: smooth;

    /* background: rgb(236, 223, 206); */

}


/* header section */
header {
    position: fixed;
    width: 100vw;
    color: rgb(195, 85, 65);
    display: flex;
    justify-content: space-around;
    background: rgb(4, 17, 45);
    align-items: center;
    height: 80px;
    z-index: 1;

}

header h2 {
    font-size: 24px;
    font-weight: 600;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    

}

header a {
    color: white;
    text-decoration: none;
    font-size: 18px;


}

header a:hover {
    background-color: rgb(195, 85, 65);
    border:2px solid rgb(195, 85, 65);
    
    border-radius: 8%;
}

/* main section */
/* .banner-1 {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 50px 50px; */
    /* background: rgb(236, 223, 206); */
    /* border:2px solid rgb(195, 85, 65); */
.banner-1 {
background:rgb(236, 223, 206);
height: 100vh;


}
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
     
       height: 100vh;
      
       
       
   
        
    }

.container img {
    width: 100%;
    height: auto;
    max-width: 250px;



    margin: 50px 100px;
}

.banner-1-text {

    margin: auto;

}

.banner-1-text h1 {
    font-size: 48px;
    color: rgb(4, 17, 45);
    padding: 10px;
}

.banner-1-text h3 {
    font-size: 24px;

    padding: 10px;
}

.banner-1-text p {
    width: 800px
}

.btn-project {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(195, 85, 65);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-project:hover {
    background-color: rgb(24, 26, 27);
}



/* about me section */
/* about me section */
.about-me {
    background: rgb(236, 223, 206);
    color: rgb(4, 17, 45);

    padding-top: 120px;  
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading */
.about-me h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

/* Paragraph */
.about-me-par {
    max-width: 1300px;
    text-align: center;
    margin-bottom: 60px;
    padding: 0 20px;
    line-height: 1.7;
}

/* Info cards container */
.info-item {
    display: flex;
    gap: 80px;
}

/* Cards */
.ab-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Icons */
.ab-card img {
    width: 45px;
    margin-top: 30px;
    margin-bottom: 10px;
    transform: translateY(5px);
    translate: transform 0.3s ease;
}
.ab-card img:hover {
    transform: translateY(-5px);
}



/* -------projects------ */
.projects {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    background: rgb(236, 223, 206);
    height: 100vh;
    color: rgb(4, 17, 45);


}

.cal {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-top: 300px;

    border: 2px 0 0 rgb(195, 85, 65);
    border-radius: 30px;
    background: white;
    padding-top: 7px;
    /* transform: translateY(90px); */
    transition: transform 0.9s ease;


}
.cal:hover {
    transform: translateY(-10px);
}
.cal-para {
    /* display: none; */
    text-align: center;
    padding: 10px;
    border: 2px 0 0 rgb(195, 85, 65);
    background-color: cadetblue;
    height: 250px;
    /* width: 250px; */
    border-radius: 30px;
    padding-top: 100px;
    transform: translateY(0);
    transition: transform 0.3s ease;
}
.cal-para:hover {
    transform: translateY(20px); 
}
.btn-vistproject {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(195, 85, 65);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 5px;
}

.btn-vistproject:hover {
    background-color: rgb(24, 26, 27);
}


/* Skills */
.skills {
    background: rgb(236, 223, 206);
    color: rgb(4, 17, 45);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 200px; */
    height: 100vh;
}

.skills h1 {
    padding-bottom: 20px;
}

.score {
    padding-top: 60px;
    margin-top: 10px;

    h4 {
        padding-bottom: 50px;
    }

}

.technicalskills h4 {
    padding-bottom: 10px;
}

.framework h4 {
    padding-bottom: 10px;

}

.skills img {
    width: 50px;
    height: auto;
    margin: 10px 10px;
}

/* contact me section */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(236, 223, 206);

    height: 100vh;
}

.contact h2 {
    margin-top: 100px;

    font-size: 2.5rem;
    padding: 15px 10px;
}

#name {
    margin: 20px 20px;
    width: 500px;
    height: 40px;
    border-radius: 10px;


}

#email {
    margin: 20px 20px;
    width: 500px;
    height: 40px;
    border-radius: 10px;

}


#subject {
    width: 1050px;
    height: 60px;
    border-radius: 10px;
    padding-bottom: 30px;
    align-items: center;
}

#Message {
    width: 1050px;
    height: 150px;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 30px;

}

.btn-send {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(195, 85, 65);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}


.btn-send:hover {
    background-color: rgb(24, 26, 27);
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 50px; */
    width: 100%;


}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-icons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
}

.contact-item img {
    width: 50px;
    /* height: auto; */
    /* margin: 0px 10px; */

}




/*footer page*/

footer{ 
    background: rgb(4,17,45);
    color:white;
    text-align: center;
    align-items: center;
    height: 70px;
    p{
        padding-top: 20px;
    }
    
}